<web-app>
	<servlet>
		<servlet-name>farjibank</servlet-name>
		<servlet-class>Banklogin</servlet-class>
		</servlet>
	
	<servlet-mapping>
		<servlet-name>farjibank</servlet-name>
		<url-pattern>/banklogin</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>bankreg</servlet-name>
		<servlet-class>Register</servlet-class>
		</servlet>
	
	<servlet-mapping>
		<servlet-name>bankreg</servlet-name>
		<url-pattern>/userreg</url-pattern>
	</servlet-mapping>
        <servlet>  
    <description></description>  
    <display-name>LogoutServlet</display-name>  
    <servlet-name>LogoutServlet</servlet-name>  
    <servlet-class>com.p1.LogoutServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutServlet</servlet-name>  
    <url-pattern>/LogoutServlet</url-pattern>  
  </servlet-mapping>  

		<servlet>
		<servlet-name>banking</servlet-name>
		<servlet-class>Updateinfo</servlet-class>
		</servlet>
	
	<servlet-mapping>
		<servlet-name>banking</servlet-name>
		<url-pattern>/updateinf</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>status</servlet-name>
		<servlet-class>Trans</servlet-class>
		</servlet>
	
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/tstatus</url-pattern>
	</servlet-mapping>




  <welcome-file-list>
    <welcome-file>BankFrontlogin.html</welcome-file>
  </welcome-file-list>
</web-app>
